/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

header {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}

.header-container {
    max-width: 1270px;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.jcSB {
    justify-content: space-between;
}

.header-logo {
    width: 226px;
    height: 60px;
    background-image: url("../img/ic_logo_color.svg");
}

.header-buttons {
    position: relative;
    display: flex;
}

.button-s {
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    padding: 8px 32px;
    text-decoration: none;
    transition: .2s linear;
    display: flex;
    border: none;
}
.search-inp-table{
    font-size: 10px;
    padding: 8px;
    background-color: #EEEEEE;
    border: none;
    outline: none;
    box-shadow: none;
    width: 150px;
    margin-left: 10px!important;
}
.button-b {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    padding: 14px 32px;
    text-decoration: none;
    transition: .2s linear;
    display: flex;
    cursor: pointer;
    border: 1px solid #9D1920;
}
.ovH{    overflow: hidden;}
.flR {
    float: right;
}

.flL {
    float: left;
}

.disN {
    display: none !important;
}

.mrTL10 {
    margin: 10px 10px 0 0;
}

.color-blue {
    background-color: #363260;
}

.color-red {
    background-color: #9D1920;
}

.color-red:hover {
    background-color: #8a161c;
}

.dropdown {
    position: relative;
    cursor: pointer;
}
.mrR10px{margin-right: 10px;}
.search-form-table{
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.17);
    z-index: 1;
    min-width: 158px;
    transition: .2s linear;
    padding: 5px 0;
    text-indent: 20px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content div:hover {
    background-color: #f5f5f5;
    color: #000;
}

.checked {
    background-color: #9D1920 !important;
    color: #fff !important;
}

.info-main-container {
    max-width: 825px;
    padding: 0 20px;
    margin: 40px auto 40px auto;
    display: flex;
    flex-direction: column;

}

.fles-colum {

}

.main-container {
    max-width: 1270px;
    padding: 0 20px;
    margin: 0 auto;
    height: calc(100vh - 210px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-table-container {
    max-width: 1270px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 290px);
}

.contact-page-container {
    max-width: 568px;
    padding: 0 20px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

input[type=file] {
    color: transparent;
}

.right-side {
    margin-left: 30px;
}

.text-right {
    font-size: 40px;
    color: #999999;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
}

.search-inp {
    background-color: #EEEEEE;
    font-size: 14px;
    padding: 18px 20px;
    color: #000;
    max-width: 453px;
    width: 100%;
    margin-right: 20px;
    box-shadow: none;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.upload-image {
    width: 116px;
    height: 116px;
    object-fit: cover;
    background-color: #cccccc;
}

.wd224 {
    width: 224px;
}

.wd510 {
    width: 510px;
}

.wd80 {
    width: 80px !important;
}

.input-s {
    background-color: #EEEEEE;
    font-size: 14px;
    padding: 18px 20px;
    color: #000;
    margin: 10px;
    box-shadow: none;
    outline: none;
    border: 1px solid #eee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sw-num {
    font-size: 13px;
    font-weight: bold;
    color: #363260;
    margin: -20px 0 12px 12px;
}
.select-burger-menu{
    padding: 13px 32px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}
.input-modal {
    background-color: #EEEEEE;
    font-size: 14px;
    padding: 18px 20px;
    color: #000;
    box-shadow: none;
    outline: none;
    border: 1px solid #eee;
    width: calc(100% - 40px);
    display: flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-modal select {
    background-color: #EEEEEE;
    font-size: 14px;
    padding: 18px 20px;
    color: #000;
    box-shadow: none;
    outline: none;
    border: 1px solid #eee;
    width: calc(100% - 40px);
    display: flex;
}

.mrB20 {
    margin-bottom: 20px;
}

.input-error {
    border: 1px solid red;

}

.button-srch {
    padding: 14px 32px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.search-form {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    /*position: absolute;*/
    /*bottom: -1px;*/
    background-color: #8E8E8D;
    padding: 15px 0;
}

.footer-lin {
    background-image: url("../img/linkedin-logo.svg");
}

.footer-yt {
    background-image: url("../img/youtube-logo.svg");
}

.soc-bt {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 4px;
}

.soc-block {
    display: flex;
    height: 24px;
    padding: 2px 0;
    margin: 0 auto;
    justify-content: center;
}

.logo-wh {
    width: 93px;
    height: 24px;
    background-image: url("../img/ic_logo_white.svg");
    background-size: cover;
    margin-left: 14px;
}

.line-logo {
    width: 1px;
    margin-left: 14px;
    background-color: #fff;
    height: 28px;
}

.footer-sl {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 28px;
    margin-left: 14px;
}

.footer-adres {
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin-top: 10px;
}

.footer-adres a {
    text-decoration: none;
    color: #fff;
}

.privacy {
    text-decoration: none;
    color: #fff;
}

.title-form {
    display: flex;
    margin-bottom: 30px;
}

.page-title {
    font-size: 20px;
    line-height: 26px;
    margin-left: 20px;
    text-transform: uppercase;
}

.disF {
    display: flex;
}

.mrL10 {
    margin-left: 10px;
}

.mrLR10 {
    margin: 0 10px;
}

.hg150 {
    height: 150px;
}

.inputfile + label {
    font-size: 14px;
    color: #999999;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #000;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.hg80 {
    height: 80px;
}

.flex-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-ico {
    background-image: url("../img/ic_image.svg");
    width: 24px;
    height: 24px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2px;
}

.delete-image {
    width: 20px;
    height: 20px;
    background-image: url("../img/delete.svg");
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    padding: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    cursor: pointer;
}

.delete-image:hover {
    background-color: #cccccc;
}

.image-container {
    position: relative;
    width: 116px;
    height: 116px;
    float: left;
    margin-right: 10px;
}

.mr10 {
    margin: 10px;
}

.inf-logo-coditrace {
    background-image: url("../img/coditrace_logo1.svg");
    width: 192px;
    height: 92px;
    background-size: contain;
    background-repeat: no-repeat;
}

.inf-logo-gradup {
    background-image: url("../img/gradup_logo1.svg");
    width: 192px;
    height: 92px;
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.preview-swivel {
    width: 202px;
    height: 202px;
    background-color: #cccccc;
    border: 1px solid #f1f1f1;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.inf-left-side {
    margin-left: 10px;
    position: relative;
    width: 50%;
    margin-right: 20px;
    float: left;

}

.inf-right-side {
    position: relative;
    width: 50%;
    margin-left: 20px;
    float: left;

}

.badge-or {
    width: 51px;
    height: 21px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-image: url("../img/badge_original.svg");
    z-index: 2;
}

.info-table-container {
    margin-top: 20px;
}

.info-table-f {
    width: 50%;
    position: relative;
    margin-right: 8px;
    margin-bottom: 20px;
}

.info-table-s {
    width: 50%;
    position: relative;
    margin-bottom: 20px;
}

.font-w {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 1;
}

.font-n {
    font-size: 13px;
    line-height: 1.5;
}

.preview-img {
    position: absolute;
    z-index: 1;
    object-fit: none;
}

.lifting-table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px 15px;
    display: table;
    border-spacing: 0;
    font-weight: 500;
    font-size: 13px;
}

.lifting-table tr, th {
    border: 1px solid #CCCCCC;
    padding: 10px 15px;
}

.lifting-table tr:first-child {
    background-color: #EEEEEE;
}


.main-table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px 10px;
    display: table;
    border-spacing: 0;
    font-size: 12px;
    text-align: left;
}

.main-table tr, th, td {
    border: 1px solid #CCCCCC;
    padding: 10px 15px;

}

.main-table tr:nth-child(even) {
    background-color: #EEEEEE;
}

.main-table thead {
    font-weight: bold;
    white-space: nowrap;
}

.main-table tbody {
    font-weight: 500;
}

.main-table th, td:first-child {
    /*width: 20px;*/
}

.desc-cont {
    position: relative;
    margin-bottom: 20px;
}

.table-title {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
}

.wd100p {
    width: 100%;
}

.wd224 {
    width: 100%;
}

.table-cont {
    margin-bottom: 16px;
}

.fold {
    display: none;
}

.open {
    display: table-row;
}

.fns18 {
    font-size: 18px;
}

.doc-title {
    font-size: 14px;
    margin-bottom: 20px;
}

.doc-item {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
}

.item-name {
    width: 100%;
    position: relative;
    padding: 12px 0;
    line-height: 24px;
}

.item-ico {
    background-image: url("../img/dowload_red.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
}

.table-download-ico {
    background-image: url("../img/download-blue.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    margin: 0 auto;
    cursor: pointer;
    display: block;
}

.table-hide-ico {
    background-image: url("../img/hide_item.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    margin: 0 auto;
    cursor: pointer;
    display: block;
}

.table-edit-ico {
    background-image: url("../img/ic_edit.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    margin: 0 auto;
    cursor: pointer;
    display: block;
}

.table-delete-ico {
    background-image: url("../img/ic_delete.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    margin: 0 auto;
    cursor: pointer;
    display: block;
}

.menu-modal {
    width: 200px;
    height: 100vh;
    background-color: #363260;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 9999;
}

.menu-modal input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.menu-modal label {
    background-color: #FFF8F7;
    color: #212121;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    padding: 1px 16px;
    margin-right: -1px;
    transition: all 0.1s ease-in-out;
}

.menu-modal label:hover {
    cursor: pointer;
}

.menu-modal input:checked + label {
    background-color: #9D1920;
    color: #fff;
    box-shadow: none;
    margin: 10px 0;
}

.menu-modal label:first-of-type {
    border-radius: 2px 0 0 2px;
}

.menu-modal label:last-of-type {
    border-radius: 0 2px 2px 0;
}

.disB {
    display: block !important;
}


.modal-view-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.51);
    z-index: 99;
}

.modal-view {
    /*modal view width 455*/
    width: 374px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.17);
    z-index: 100;
    display: none;
    padding: 40px;
}

.modal-view-l {
    /*modal view width 648*/
    width: 568px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.17);
    z-index: 100;
    display: none;
    padding: 40px;
}

.modal-close {
    width: 12px;
    height: 12px;
    background-image: url("../img/modal_close.svg");
    padding: 12px;
    background-size: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -12px;
}

.modal-title {
    width: 100%;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.btn-modal-text {
    width: 100%;
    text-align: right;
    font-size: 14px;
    cursor: pointer;
    line-height: 52px;
    text-decoration: underline;
    transition: .2s linear;
}

.btn-modal-text:hover {
    color: #9D1920;
}

.button-modal {
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    padding: 14px 32px;
    transition: .2s linear;
    cursor: pointer;
    border: none;
}

.button-modal-l {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    padding: 14px 32px;
    transition: .2s linear;
    cursor: pointer;
    border: none;
}

.set-ava {
    width: 26px;
    height: 26px;
    background-image: url("../img/settings-ava.svg");
}

.set-email {
    font-size: 16px;
    font-weight: 500;
    margin-left: 8px;
    line-height: 26px;
}

.regstr-text {
    font-weight: 500;
    font-size: 13px;
    margin: 8px 0 20px;
}

.password-btns {
    position: absolute;
    right: 6px;
    top: 13px;
    display: flex;
}

.password-container {
    position: relative;
}

.pass-btn {
    color: white;
    font-size: 10px;
    width: 96px;
    height: 28px;
    margin: 0 6px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.arrow-select{
    position: relative;
    cursor: pointer;
}
.arrow-select-wh{
    position: relative;
    cursor: pointer;
}
.select-menu-lang{
    background-color: #fff;
    font-size: 14px;
    color: #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #eee;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 20px;
}
.pR{position: relative;}
.select-menu-b-lang{
    background-color: #fff;
    font-size: 14px;
    color: #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #eee;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 23px;
}

.select-item-lang{
    padding: 10px 20px;
    z-index: 9999;
    background-color: white;
}
.select-item-lang:hover{
    background-color: #ccc;
}
.select-menu-overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.arrow-select:after{
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("../img/select-arr.svg");
    position: absolute;
    right: 13px;
    top: 13px;
    z-index: 0;
}
.arrow-select-wh:after{
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("../img/select-arr-wh.svg");
    position: absolute;
    right: 13px;
    top: 13px;
    z-index: 0;
}
.sw-val {
    margin-left: 6px;
}

.sw-val-cont {
    font-size: 20px;
}

.swivels-list-container {
    display: table;
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: row;
}

.item-swivel {
    font-size: 10px;
    padding: 8px 10px;
    background-color: #EEEEEE;
    float: left;
    margin: 5px 10px 5px 0;
}

.first-col {
    width: calc(100% - 10px);
    margin-right: 10px;
}

.second-col {
    width: calc(100% - 10px);
    margin-left: 10px;
}
.mobile-item-info{
    display: none;
}
.swivel-grid-mob{
    display: none;
}
.warranty-check + label {
    line-height: 56px;
    font-size: 16px;
    margin-left: 14px;
}


.tabs-main-table {
    width: 100%;
    height: 34px;
    display: flex;
}

.tabs-main-table input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.tabs-main-table label {
    color: #999999;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    transition: all 0.1s ease-in-out;
    margin-right: 30px;
    text-transform: uppercase;
}

.tabs-main-table label:hover {
    cursor: pointer;
}

.tabs-main-table input:checked + label {
    color: #9D1920;
    box-shadow: none;
    border-bottom: 3px solid #9D1920;
}

.tabs-main-table label:first-of-type {
    border-radius: 2px 0 0 2px;
}

.tabs-main-table label:last-of-type {
    border-radius: 0 2px 2px 0;
}

.mrTB30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-tr-dw {
    font-size: 12px;
    height: 20px;
}
.soc-container{
    display: flex;
}
.ico-profile {
    width: 56px;
    height: 56px;
    background-image: url("../img/ic_profile.svg");
    margin-right: 16px;
}

.header-fl-name {
    font-size: 14px;
    font-weight: bold;
    display: block;
    float: left;
}

.header-fl-name:before {
    width: 16px;
    height: 16px;
    content: '';
    background-image: url("../img/arrow-down.svg");
    margin-left: 8px;
    display: block;
    float: right;
}

.header-profile-title {
    font-size: 12px;
    color: #999999;
    line-height: 1.5;
}

.iframe-video {
    width: 530px;
    height: 298px;
}

.header-container-mob {
    display: none;
}
.show-modal-menu{display: none}
.hide-modal-menu{display: none}
@media screen and (max-width: 900px) {
    html {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    body {
        width: 100%;
        position: relative;
    }

    .header-container {
        display: none;
    }

    .iframe-video {
        width: calc(100% - 40px);
        height: 157px;
        margin: 20px;
    }

    .right-side {
        margin-left: 0px;
        width: calc(100% - 40px);

    }

    .main-container {
        flex-wrap: wrap;
        position: relative;
        height: initial;
        padding: 0;
    }

    .text-right {
        font-size: 15px;
        text-align: center;
    }

    .search-form {
        flex-wrap: wrap;

    }

    .search-inp {
        margin: 0;
        text-align: center;
        width: 100%;
        max-width: 100%;
    }

    .button-srch {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .btn-select-w {
        width: inherit;
        padding: 12px 33%;
    }

    .g-recaptcha {
        display: flex;
        justify-content: center;
    }

    .soc-block {
        width: 100%;
        flex-direction: column;
        position: relative;
        height: inherit;

    }
    .soc-container{
        justify-content: center;
    }
    .footer-sl{
        text-align: center;
        line-height: 1.5;
        margin-top: 8px;
        margin-left: 0;
        font-size: 10px;
    }
    .footer-adres {
        width: 100%;

    }
    .footer-adres a{
        white-space: nowrap;
    }
    footer {
        position: relative;
        margin-top: 100px;
        width: calc(100% - 30px);
        flex-direction: column;
        padding: 15px;
    }

    .header-container-mob {
        width: 100%;
        height: 50px;
        display: flex;
    }

    .header-logo-mob {
        width: 112px;
        height: 40px;
        background-image: url("../img/ic_logo_white.svg");
        margin: 5px calc(50% - 56px);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header-logo-col-mob {
        width: 112px;
        height: 40px;
        background-image: url("../img/ic_logo_color.svg");
        background-size: contain;
        margin: 5px calc(50% - 56px);
        background-repeat: no-repeat;
        background-position: center;
    }

    .burger-menu {
        width: 24px;
        height: 24px;
        background-image: url("../img/menu-24px.svg");
        position: absolute;
        top: 13px;
        left: 20px;
    }

    .back-menu {
        width: 24px;
        height: 24px;
        background-image: url("../img/arrow_back-24px.svg");
        position: absolute;
        top: 13px;
        left: 20px;
    }

    .burger-menu-close {
        width: 24px;
        height: 24px;
        background-image: url("../img/close-24px.svg");
        position: absolute;
        top: 13px;
        left: 20px;
    }

    .open-menu {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 9999;
        display: flex;
        flex-wrap: wrap;
    }

    .open-menu-btns {
        width: calc(100% - 40px);
        margin: 0 20px;
    }

    .button-back-menu {
        width: calc(100% - 40px);
        margin: 0 20px;
        color: #999999;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        text-transform: uppercase;
        height: 53px;
        border: none;
        background-color: #EEEEEE;
    }

    .lifting-tabs-mob input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .lifting-tabs-mob {
        display: flex;
        width: 100%;
    }

    .lifting-tabs-mob label {
        color: #999999;
        font-size: 11px;
        font-weight: 500;
        text-align: center;
        transition: all 0.1s ease-in-out;
        text-transform: uppercase;
        width: 50%;
        line-height: 50px;
    }

    .lifting-tabs-mob label:hover {
        cursor: pointer;
    }

    .lifting-tabs-mob input:checked + label {
        color: #fff;
        box-shadow: none;
        border-bottom: 3px solid #fff;
    }

    .lifting-tabs-mob label:first-of-type {
        border-radius: 2px 0 0 2px;
    }

    .lifting-tabs-mob label:last-of-type {
        border-radius: 0 2px 2px 0;
    }

    .title-form {
        display: none;
    }

    .info-main-container {
        margin: 20px auto 40px auto;
        width: calc(100% - 40px);
        padding-bottom: 40px;
    }

    .inf-left-side {
        margin-left: 0;
        width: 100%;
        margin-right: 0;
    }

    .inf-right-side {
        margin-left: 0;
        width: 100%;
    }

    .inf-logo-coditrace {
        width: 100%;
        height: inherit;

    }

    .mob-align-brands {
        width: calc(50% - 10px);

    }

    .inf-logo-coditrace:before {
        content: "";
        display: block;
        padding-top: 45%;
    }

    .inf-logo-gradup {
        width: 100%;
        height: inherit;
    }

    .inf-logo-gradup:before {
        content: "";
        display: block;
        padding-top: 45%;
    }

    .lifting-table {
        width: 100%;
    }

    .preview-swivel {
        overflow: hidden;
        height: max-content;
        width: calc(50% - 10px);
    }

    .preview-swivel:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .preview-img {
        top: 0;
        left: 0;
        width: 100%;
    }

    .fns18 {
        font-size: 13px;
        justify-content: center;
    }

    .doc-title {
        display: none;
    }

    .disN-mob {
        display: none;
    }
    .mobile-menu{
        top: -95vh;
        width: 100%;
    }
    .show-modal-menu{
        position: absolute;
        bottom: 0;
        line-height: 40px;
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        display: block;
    }
    .hide-modal-menu{
        line-height: 40px;
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        display: block;
    }
    .modal-view {
        width: calc(100% - 40px);
        padding: 20px;
        margin: 20px 0;
    }

    .modal-view-container {
        align-items: flex-start;
        position: relative;
        height: inherit;
        margin-top: calc(5vh + 20px); /*this rule for left bar, remove then use in prod*/

    }

    .modal-title {
        margin-bottom: 20px;
    }

    .mrB20 {
        margin-bottom: 10px;
    }

    .mob-select-lang {
        padding: 0 20px;
    }

    .mob-fl-wrap {
        flex-wrap: wrap;
    }

    .first-col {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .second-col {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;

    }

    .modal-view-l {
        width: calc(100% - 40px);
        padding: 20px;
        margin: 20px 0;
    }

    .button-modal-l {
        width: 100%;
    }

    .tabs-main-table {
        flex-wrap: wrap;
        height: inherit;
    }

    .main-table-container {
        width: calc(100% - 40px);
        padding: 0 20px 100px 20px;
        margin-bottom: 180px;
    }

    .contact-page-container {
        width: calc(100% - 40px);
        padding: 0 20px;
        margin-top: 20px;
    }

    .wd510 {
        width: calc(100% - 60px);
    }

    .tabs-main-table input:checked + label {
        width: 100%;
        line-height: 52px;
        margin-right: 0;
        text-align: left;
        position: relative;
    }

    .tabs-main-table input:checked + label:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 16px;
        background-image: url("../img/radio-check.svg");
    }

    .tabs-main-table label {
        width: 100%;
        line-height: 52px;
        margin-right: 0;
        text-align: left;
        border-bottom: 1px solid #DDDDDD;

    }

    .main-table {
        display: none;
    }

    .mob-hide {
        display: none;
    }

    .mob-view-style {
        position: fixed;
        bottom: 0;
        margin: 0;
        width: calc(100% - 40px);
        left: 0;
        padding: 10px 20px;
        border-top: 1px solid #ccc;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        background-color: white;
        z-index: 9999;
    }

    .title-tr-dw {
        width: 100%;
        text-align: center;
    }

    .mob-wd100 {
        width: 100%;
    }

    .mrLR10 {
        margin: 0;
    }

    .mob-jsSA {
        justify-content: space-around;
    }
    .mobile-view-trace-inf{
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
        border: 1px solid #DDDDDD;
    }
    .mobile-view-swivel-card{
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
        border: 1px solid #DDDDDD;
    }
    .sw-num{
        margin-top: 0;
        margin-left: 0;

    }
    .trace-info-item-row{
        border-bottom: 1px solid #DDDDDD;
        width: calc(100% - 20px);
        margin-top: 10px;
        margin-left: 10px;
    }
    .swivel-item-row{
        width: calc(100% - 20px);
        margin-top: 10px;
        margin-left: 10px;
    }
    .pad10{padding: 10px;}
    .person-title{
        font-size: 10px;
        font-weight: 500;
        margin: 10px 0;
        color: #363260;
        font-weight: 500;
    }
    .holder-title{
        margin: 10px 0 ;
        font-size: 13px;
    }
    .trace-info-item-row:last-child{
        border: none;
    }
    .swivel-item-row:last-child{
        border: none;
    }
    .holder-arrow{
        width: 100%;
        height: 20px;
        background-image: url(../img/holder-arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        margin: 10px 0;
    }
    .mobile-item-info{
        display: block;
    }
    .swivel-grid-mob{
        display: block;
        margin-top: 20px;
        width: 100%;
    }
    .swivel-check-card{
        padding: 10px 20px;
        background-color: #363260;
        color: #fff;
        text-transform: uppercase;
        width: calc(100% - 40px);
        display: flex;
    }
    .check-card + label{
        margin-left: 15px;
        line-height: 1;
    }

    .flex-colum{
        flex-direction: column;
    }
    .header-buttons{
        padding: 10px 0;
        border-bottom: 1px solid #D9D9D9;
        border-top: 1px solid #D9D9D9;
    }
    .header-fl-name:before{
        display: none;
    }
    .button-s{
        padding: 8px 18px;
    }
    .jsSBa{justify-content: space-between;}
    .table-download-ico{
        margin: 0;
    }
    .table-download-ico-mob{
        width: 26px;
        height: 26px;
        background-image: url("../img/download-btn.svg");
    }
    .mrR4px{
        margin-right: 4px;
    }
    .swivel-more{
        text-transform: uppercase;
        line-height: 38px;
        border-top: 1px solid #DDDDDD;
        font-size: 16px;
        color: #9D1920;
        font-weight: 500;
        text-indent: 10px;
        position: relative;
        cursor: pointer;
        transition: 0.2s;
    }
    .swivel-more-arr:after{
        background-image: url("../img/swivel-more.svg");
        width: 30px;
        height: 30px;
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 0;
    }
    .swivel-more-arr-hide:after{
        background-image: url("../img/swivel-more.svg");
        width: 30px;
        height: 30px;
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 0;
        transform: rotate(180deg);
    }
    .swivel-more-block{
        background-color: #EEEEEE;
    }

    .button-b {
        width: 100%;
        display: flex;
        justify-content: center;
        outline: 1px solid #9D1920;
}

}
